//Font family 
$font-family: 'JetBrains Mono', monospace;

// Primary Colors
$dark-gray: #24232C;
$medium-gray: #817D92;
$light-grey: #E6E5EA;

// Accent Colors
$green-accent: #A4FFAF;
$red-accent: #F64A4A;
$orange-accent: #FB7C58;
$yellow-accent: #F8CD65;


//Font size 
$fs-32px: 32px;
$fs-24px: 24px;
$fs-18px: 18px;
$fs-16px: 16px;


//Font weight
$fw-bold: 700;
